// Colors
//-----------------PRIMARY-----------------------
//main background
$veryDarkBlue: hsl(233, 47%, 7%);
//card background
$darkDdesaturatedBlue: hsl(244, 38%, 16%);
//accent
$softViolet: hsl(277, 64%, 61%);
//-----------------NEUTRAL--------------------------
//main heading, stats
$white: hsl(0, 0%, 100%);
//main paragraph
$slightlyTransparentWhiteMain: hsla(0, 0%, 100%, 0.75);
//stat headings
$slightlyTransparentWhiteStat: hsla(0, 0%, 100%, 0.6);
//-------------------------------------------------
//
body {
	background: $veryDarkBlue;

	main {
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		section {
			border-radius: 8px;
			background: $darkDdesaturatedBlue;
			width: 80%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			.left {
				width: 50%;
				.leftContainer {
					margin: auto;
					padding: 43px;
					width: 70%;
					strong {
						color: $softViolet;
					}
					h1 {
						font-family: 'Inter', sans-serif;
						font-weight: 700;
						color: $white;
					}
					p {
						width: 90%;
						font-size: 13px;
						font-family: 'Inter', sans-serif;
						font-weight: 400;
						color: $slightlyTransparentWhiteMain;
						line-height: 25px;
					}
					.numberContainer {
						h2 {
							color: $white;
							font-family: 'Inter', sans-serif;
							font-weight: 700;
						}
						display: flex;
						flex-direction: row;
						justify-content: flex-start;
						.one,
						.two,
						.three {
							margin-top: 3rem;
							margin-right: 3.5em;
							h2 {
								padding: 0;
								margin: 0;
								margin-bottom: 5px;
							}
							p {
								padding: 0;
								margin: 0;
								color: $slightlyTransparentWhiteStat;
								font-family: 'Lexend Deca', sans-serif;
								font-weight: 400;
								font-size: 12px;
							}
						}
					}
				}
			}

			.right {
				width: 50%;
				background: #61089c;

				border-radius: 0px 8px 8px 0px;
				-webkit-border-radius: 0px 8px 8px 0px;
				-moz-border-radius: 0px 8px 8px 0px;
				-ms-border-radius: 0px 8px 8px 0px;
				-o-border-radius: 0px 8px 8px 0px;

				img {
					filter: opacity(0.4) drop-shadow(0 0 0 #422257) brightness(100%);

					width: 100%;
					height: 100%;
					border-radius: 0px 8px 8px 0px;
					-webkit-border-radius: 0px 8px 8px 0px;
					-moz-border-radius: 0px 8px 8px 0px;
					-ms-border-radius: 0px 8px 8px 0px;
					-o-border-radius: 0px 8px 8px 0px;
					-webkit-filter: opacity(0.4) drop-shadow(0 0 0 #422257)
						brightness(100%);
				}
			}
		}
	}
}

// Responsive design

@media (max-width: 576px) {
	body {
		main {
			margin-top: 25px;
			margin-bottom: 25px;
			section {
				width: 90%;
				margin: 0;
				padding: 0;
				flex-direction: column-reverse;

				.left {
					width: 100%;
					margin-top: 25px;

					.leftContainer {
						text-align: center;
						margin: auto;
						width: 90%;
						padding: 0px;
						h1 {
							width: 100%;
						}
						p {
							width: 70%;
							text-align: center;
							margin: auto;
						}

						.numberContainer {
							margin: 25px auto;
							flex-direction: column;
							align-items: center;
							justify-content: center;

							.one,
							.two,
							.three {
								h2 {
									margin-bottom: 0;
								}
								margin: 15px;
							}
						}
					}
				}
				.right {
					width: 100%;
					height: 250px;
					border-radius: 8px 8px 0px 0px;
					-webkit-border-radius: 8px 8px 0px 0px;
					-moz-border-radius: 8px 8px 0px 0px;
					-ms-border-radius: 8px 8px 0px 0px;
					-o-border-radius: 8px 8px 0px 0px;

					img {
						border-radius: 8px 8px 0px 0px;
						object-fit: cover;
					}
				}
			}
		}
	}
}
